
@import 'variables';

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(1024px);
    height: em(576px);
    margin-left: (em(-1024px) / 2);
    margin-top: (em(-576px) / 2);

    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics

    @include linearGradient(#87CEEB,#FFFFFF);


}

/* TEMPORARY PLACE FOR BACKGROUND WHILE I FIGURE OUT FUCKING GRUNT Y U NO GULP!!! */


//ground start
.groundContainer{
  width: em(1024px);
  height: em(60px);
  position: absolute;
  bottom: 0;

}

.groundTop{
  color: black;
  border-top: solid 2px rgb(142, 132, 6);
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    #59aa08 5px,
    #59aa08 10px
  ),
  linear-gradient(
    to bottom,
    #59aa08,
    #7eeb4b
  );

  height: 25px;
  width: em(1100px);
  animation: movingGround 0.5s infinite;
  animation-timing-function: linear;
  transform-origin: left;

}



.groundBottom{
  background-color: rgb(41, 32, 2);
  height: 35px;
  width: 100%;
}

@keyframes movingGround {
  0%{
    transform: translate3d(0, 0, 0);

  }
  100%{
    transform: translate3d(-75px, 0, 0);

  }

}


// CLOUD


/*
.cloud{
  width: 100px;
  height: 65px;
  background-color: white;
  border-radius: 45%;
  transform: translate3d(1200px,100px,0);
}

.cloud1{
  animation: clouds 50s infinite;
  animation-timing-function: linear;
  transform-origin: right;
  position: absolute;
  top: 0px;
}

.cloud2{
  animation: clouds 48s 15s infinite;
  animation-timing-function: linear;
  transform-origin: right;
  position: absolute;
  top:10px;
}

.cloud3{
  animation: clouds 50s 27s infinite;
  animation-timing-function: linear;
  transform-origin: right;
  position: absolute;
  top:-20px;
}

@keyframes clouds {
  0%{
    transform: translate3d(1200px, 65px, 0);
  }
  10%{
    transform: translate3d(1000px, 150px, 0);
  }
  20%{
    transform: translate3d(900px, 100px, 0);
  }
  30%{
    transform: translate3d(800px, 120px, 0);
  }
  40%{
    transform: translate3d(700px, 130px, 0);
  }
  50%{
    transform: translate3d(600px, 110px, 0);
  }
  60%{
    transform: translate3d(500px, 120px, 0);
  }
  70%{
    transform: translate3d(360px, 100px, 0);
  }
  80%{
    transform: translate3d(180px, 110px, 0);
  }
  90%{
    transform: translate3d(50px, 130px, 0);
  }
  100%{
    transform: translate3d(-100px, 100px, 0);
  }
}
*/

.cloud {
	width: 200px; height: 60px;
	background: #fff;

	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;

	position: relative;
  top: 30px;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;

	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
	-o-animation: moveclouds 30s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/

	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x4 {
	left: 470px; top: -250px;

	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 21s linear infinite;
	-moz-animation: moveclouds 21s linear infinite;
	-o-animation: moveclouds 21s linear infinite;
}

.x5 {
	left: -150px; top: -150px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 27s linear infinite;
	-moz-animation: moveclouds 27s linear infinite;
	-o-animation: moveclouds 27s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}

#score{
    font-size: 30px;
    color: red;
    margin-left: 100px;
    z-index: 1;
}

.stopAnimation {
  /*
  -webkit-animation: none !important;
  -o-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  */

  -webkit-animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
