
@import 'variables';

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(1024px);
    height: em(576px);
    margin-left: (em(-1024px) / 2);
    margin-top: (em(-576px) / 2);

    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics
    background: skyblue;
}

/* TEMPORARY PLACE FOR BACKGROUND WHILE I FIGURE OUT FUCKING GRUNT Y U NO GULP!!! */


//ground start
.groundContainer{
  width: em(1024px);
  height: em(60px);
  position: absolute;
  bottom: 0;

}

.groundTop{
  color: black;
  border-top: solid 2px rgb(142, 132, 6);
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    #59aa08 5px,
    #59aa08 10px
  ),
  linear-gradient(
    to bottom,
    #59aa08,
    #7eeb4b
  );

  height: 25px;
  width: em(1100px);
  animation: movingGround 0.5s infinite;
  animation-timing-function: linear;
  transform-origin: left;

}

.groundBottom{
  background-color: rgb(41, 32, 2);
  height: 35px;
  width: 100%;
}

@keyframes movingGround {
  0%{
    transform: translate3d(0, 0, 0);

  }
  100%{
    transform: translate3d(-75px, 0, 0);

  }

}


// CLOUD

.cloud{
  width: 100px;
  height: 65px;
  background-color: white;
  border-radius: 45%;
  transform: translate3d(1200px,100px,0);
}

.cloud1{
  animation: clouds 50s infinite;
  animation-timing-function: linear;
  transform-origin: right;
}

.cloud2{
  animation: clouds 48s 15s infinite;
  animation-timing-function: linear;
  transform-origin: right;
}

@keyframes clouds {
  0%{
    transform: translate3d(1200px, 65px, 0);
  }
  10%{
    transform: translate3d(1000px, 150px, 0);
  }
  20%{
    transform: translate3d(900px, 100px, 0);
  }
  30%{
    transform: translate3d(800px, 120px, 0);
  }
  40%{
    transform: translate3d(700px, 130px, 0);
  }
  50%{
    transform: translate3d(600px, 110px, 0);
  }
  60%{
    transform: translate3d(500px, 120px, 0);
  }
  70%{
    transform: translate3d(360px, 100px, 0);
  }
  80%{
    transform: translate3d(180px, 110px, 0);
  }
  90%{
    transform: translate3d(50px, 130px, 0);
  }
  100%{
    transform: translate3d(-100px, 100px, 0);
  }
}
