
@import 'variables';

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin performance(){
    // Fixing performance issues
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    display: block;
    // End of fixing performance issues
}



.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(1024px);
    height: em(576px);
    margin-left: (em(-1024px) / 2);
    margin-top: (em(-576px) / 2);

    // Don't draw outside this box.
    overflow: hidden;
}

.background-pic {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background-image: url('/images/bg.png');
  background-repeat: repeat-x;
  background-clip: border-box;
  background-size: em(1024px) em(576px);
}

.groundContainer{
    width: em(1024px);
    height: em(60px);
    position: absolute;
    bottom: 0;

}

.groundTop{
    @include performance();

    color: black;
    border-top: solid 2px rgb(142, 132, 6);
    background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    #59aa08 5px,
    #59aa08 10px
    ),
    linear-gradient(
    to bottom,
    #59aa08,
    #7eeb4b
    );

    height: 25px;
    width: em(1100px);
    animation: movingGround 0.5s infinite;
    animation-timing-function: linear;
    transform-origin: left;

}

.groundBottom{
    background-color: rgb(41, 32, 2);
    height: 35px;
    width: 100%;
}

@keyframes movingGround {
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-75px, 0, 0);
    }

}

.cloud {
    width: 200px; height: 60px;
    background: #fff;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
    top: 30px;
}

.cloud:before, .cloud:after {
    @include performance();

    content: '';
    position: absolute;
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate3d(30deg);
    transform: rotate3d(30deg);
    -moz-transform: rotate3d(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    @include performance();

    -webkit-animation: moveclouds 30s linear infinite;
    -moz-animation: moveclouds 30s linear infinite;
    -o-animation: moveclouds 30s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    @include performance();

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/

    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    @include performance();

    left: -250px; top: -200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x4 {
    @include performance();

    left: 470px; top: -250px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 21s linear infinite;
    -moz-animation: moveclouds 21s linear infinite;
    -o-animation: moveclouds 21s linear infinite;
}

.x5 {
    @include performance();

    left: -150px; top: -150px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 27s linear infinite;
    -moz-animation: moveclouds 27s linear infinite;
    -o-animation: moveclouds 27s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {transform: translate3d(1400px,0,0);}
    100% {transform: translate3d(-600px,0,0);}
}
@-moz-keyframes moveclouds {
    0% {transform: translate3d(1400px,0,0);}
    100% {transform: translate3d(-600px,0,0);}
}
@-o-keyframes moveclouds {
    0% {transform: translate3d(1400px,0,0);}
    100% {transform: translate3d(-600px,0,0);}
}

#score {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
    text-shadow: 2px 4px rgba(0,0,0,0.5);

    position: absolute;
    color: red;
    top: 50px;
    margin-left: 50px;
    z-index: 5;
}

.stopAnimation {
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}
