
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    width: em(50px);
    height: em(50px);

    background: blue;
}


//
.moveUp {
  animation: moveUpAnim 1s 0 1 linear;
}

@keyframes moveUpAnim {
  0% {
    transform: rotate3d(45deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate3d(0deg) translate3d(0,-20px,0);
  }
}
