@mixin performance(){
    // Fixing performance issues
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    display: block;
    // End of fixing performance issues
}

.Player {
    @include performance();
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    width: em(68px);
    height: em(48px);
    background-image: url('/images/bird.png');
    background-size: 68px 192px;

    -webkit-animation: animBird 300ms steps(4) infinite;
    animation: animBird 300ms steps(4) infinite;
}

@-webkit-keyframes animBird {
    from { background-position: 0px 0px; }
    to { background-position: 0px -192px; }
}
@-moz-keyframes animBird {
    from { background-position: 0px 0px; }
    to { background-position: 0px -192px; }
}
@-o-keyframes animBird {
    from { background-position: 0px 0px; }
    to { background-position: 0px -192px; }
}
@keyframes animBird {
    from { background-position: 0px 0px; }
    to { background-position: 0px -192px; }
}

//
.moveUp {
    animation: moveUpAnim 1s 0 1 linear;
}

@keyframes moveUpAnim {
    0% {
        transform: rotate3d(45deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate3d(0deg) translate3d(0,-20px,0);
    }
}
